@media (max-width:1300px){
    .contener {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: 0 40px;
    }
}

@media (max-width:850px){
    .header-right ul li a {
        padding: 0 7px;
    }
    .header-left {
        width: 100%;
        text-align: center;
    }
    .header-right {
        width: 100%;
        text-align: center;
    }
    .header-section {
        padding: 10px 0;
    }
}
@media (max-width:550px){
    .header-left h1 {
        font-size: 25px;
    }
    .header-right ul li {
        font-size: 13px;
    }
    .header-right ul li a {
        padding: 0 5px;
    }
}
@media (max-width:450px){
    .header-left h1 {
        font-size: 20px;
    }
    .header-right ul li {
        font-size: 10px;
    }
    .header-right ul li a {
        padding: 0 3px;
    }    
}
@media (max-width:365px){
    .header-left h1 {
        font-size: 15px;
        font-weight: 900;
    }
    .header-section {
        padding: 5px 0;
    }
    .header-left h1 {
        font-size: 15px;
        font-weight: 900;
    }
    .header-right ul li {
        font-size: 8px;
        font-weight: 800;
    }
}